.mdilake-icon {
  height: 21px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lakeside {
  position: relative;
  display: inline-block;
  min-width: 64px;
}
.mdilake-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.tablertools-kitchen-2-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.kitchen {
  flex: 1;
  position: relative;
}
.phfireextinguisher {
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.material-symbolsnest-cam-iq-o-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.security-cameras-on {
  position: relative;
}
.material-symbolsnest-cam-iq-o-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.ionwifi-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.wifi {
  position: relative;
  display: inline-block;
  min-width: 27px;
}
.amenitiessection1,
.security-cameras {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.amenitiessection1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 22.3px 0 0;
  box-sizing: border-box;
  gap: 14px;
  min-width: 195px;
  text-align: left;
  font-size: 16px;
  color: #171e1d;
  font-family: Archivo;
}
