.amenities {
  margin: 0;
  width: 780.8px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.regulator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.search-flights-button2 {
  width: 185px;
  height: 48px;
}
.search-flights-button2:hover {
  background-color: #975b00;
}
.generator,
.multiplier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.multiplier {
  align-self: stretch;
  gap: 31px;
  font-size: 16px;
}
.generator {
  flex: 1;
  gap: 20px;
  min-width: 547px;
  max-width: 100%;
}
.where-youll-be {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.prototype-icon {
  height: 11px;
  width: 9.3px;
  position: relative;
}
.the-bridle-path {
  position: relative;
  display: inline-block;
  min-width: 109px;
}
.analysis,
.design {
  display: flex;
  justify-content: flex-start;
}
.design {
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}
.analysis {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 5px;
  max-width: 100%;
}
.suncloud-icon {
  height: 47px;
  width: 47px;
  position: relative;
}
.temperature,
.weather-detail {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.temperature {
  line-height: 150%;
  font-weight: 600;
  min-width: 38px;
}
.weather-detail {
  font-size: 14px;
  color: #7a7a7a;
  min-width: 93px;
  white-space: nowrap;
}
.weather-info,
.weather-info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weather-info1 {
  flex: 1;
  flex-direction: column;
  padding: 0;
  gap: 2px;
}
.weather-info {
  width: 108px;
  flex-direction: row;
  gap: 10px;
  text-align: left;
  font-size: 16px;
}
.c,
.sun-icon {
  position: relative;
}
.sun-icon {
  width: 40px;
  height: 40px;
}
.c {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-wrapper,
.sun-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper {
  align-self: stretch;
  align-items: center;
}
.sun-parent {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.aug,
.sun {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent1,
.sun-group {
  flex-direction: column;
  justify-content: flex-start;
}
.sun-group {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent1 {
  display: none;
  align-items: flex-start;
  gap: 8px;
}
.suncloud-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c1 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-container,
.suncloud-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-container {
  align-self: stretch;
  align-items: center;
}
.suncloud-parent {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.aug1,
.mon {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent2,
.mon-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.mon-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent2 {
  display: none;
  align-items: flex-start;
  gap: 8px;
}
.c2,
.sun-icon1 {
  position: relative;
}
.sun-icon1 {
  width: 40px;
  height: 40px;
}
.c2 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-frame,
.sun-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-frame {
  align-self: stretch;
  align-items: center;
}
.sun-container {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.aug2,
.tue {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent3,
.tue-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.tue-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent3 {
  display: none;
  align-items: flex-start;
  gap: 8px;
}
.suncloud-icon2 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c3 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-wrapper1,
.suncloud-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper1 {
  align-self: stretch;
  align-items: center;
}
.suncloud-group {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.aug3,
.wed {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent4,
.wed-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.wed-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent4 {
  display: none;
  align-items: flex-start;
  gap: 8px;
}
.suncloud-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c4 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-wrapper2,
.suncloud-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper2 {
  align-self: stretch;
  align-items: center;
}
.suncloud-container {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.aug4,
.thu {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent5,
.thu-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.thu-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent5 {
  display: none;
  align-items: flex-start;
  gap: 8px;
}
.c5,
.sun-icon2 {
  position: relative;
}
.sun-icon2 {
  width: 40px;
  height: 40px;
}
.c5 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-wrapper3,
.sun-parent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper3 {
  align-self: stretch;
  align-items: center;
}
.sun-parent1 {
  width: 40px;
  align-items: flex-start;
  gap: 8px;
}
.fri,
.sep {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.fri-parent {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent6,
.template {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  display: none;
  flex-direction: column;
  gap: 8px;
}
.template {
  width: 154px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  padding: 2px 0;
  box-sizing: border-box;
  gap: 24px;
  text-align: center;
  font-size: 10px;
}
.model-child,
.simulation {
  align-self: stretch;
  max-width: 100%;
}
.simulation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  gap: 0;
}
.model-child {
  height: 248px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.data-aggregator-icon {
  width: 37px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 161px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.model {
  align-self: stretch;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.chart,
.location-amenities,
.model {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chart {
  width: 480px;
  flex-direction: column;
  min-width: 480px;
}
.location-amenities {
  align-self: stretch;
  flex-direction: row;
  gap: 19px;
  text-align: left;
  font-size: 24px;
  color: #171e1d;
  font-family: Archivo;
}
@media screen and (max-width: 1275px) {
  .chart {
    flex: 1;
  }
  .location-amenities {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .regulator {
    flex-wrap: wrap;
  }
  .generator {
    min-width: 100%;
  }
  .simulation {
    flex-wrap: wrap;
  }
  .chart {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .amenities {
    font-size: 19px;
  }
  .multiplier {
    gap: 15px;
  }
  .where-youll-be {
    font-size: 19px;
  }
}
