.stays-nearby,
.toronto-ontario {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 120%;
  font-family: inherit;
}
.stays-nearby {
  font-weight: 400;
  display: inline-block;
  min-width: 127px;
}
.toronto-ontario {
  font-weight: 600;
}
.difference-function {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.bento-menu-1-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.ancestry-network {
  border-radius: 6px;
  background-color: #00c29f;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}
.map-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.ancestry-network1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}
.layout-selection,
.search-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.layout-selection {
  width: 84px;
  border-radius: 9px;
  background-color: #fff;
  border: 0.7px solid #e8ecf2;
  justify-content: flex-start;
  padding: 5px;
}
.search-section-header {
  width: 100%;
  justify-content: space-between;
  padding: 14px 0 0;
  max-width: 1280px;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Archivo;
}
@media screen and (max-width: 1275px) {
  .search-section-header {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .search-section-header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .stays-nearby,
  .toronto-ontario {
    font-size: 16px;
    line-height: 19px;
  }
}
