.button2,
.similar-stays {
  position: relative;
  font-weight: 600;
}
.similar-stays {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-family: inherit;
}
.button2 {
  width: 60px;
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 26px;
  color: #00c29f;
  text-align: center;
  display: inline-block;
  min-width: 60px;
}
.data-transformer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.vector-icon5 {
  height: 10px;
  width: 6.7px;
  position: relative;
}
.superhost3 {
  height: 8px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vector-group {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 13px;
  background-color: #fff;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 7px;
  gap: 2px;
  z-index: 0;
}
.heart-icon3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.533);
}
.wrapper-heart-icon2 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 9.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-parent8 {
  height: 143px;
  width: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0 103px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
  background-image: url(/public/frame-93@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 181px;
}
.urban-loft2,
.urban-loft3 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.urban-loft-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.div3 {
  height: 10px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 22px;
}
.vector-icon6 {
  height: 13px;
  width: 13px;
  position: relative;
  min-height: 13px;
}
.frame-parent10,
.parent2 {
  display: flex;
  justify-content: flex-start;
}
.parent2 {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.frame-parent10 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 140.3px 0 0;
  gap: 12px;
}
.div4,
.night3 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.div4 {
  height: 11px;
  font-weight: 600;
  min-width: 38px;
  white-space: nowrap;
}
.night3 {
  height: 10px;
  font-size: 14px;
  color: #787878;
  min-width: 37px;
}
.frame-parent9,
.frame-wrapper1,
.parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.parent3 {
  gap: 2px;
}
.frame-parent9,
.frame-wrapper1 {
  color: #00c29f;
}
.frame-parent9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 20px;
  min-width: 164px;
  font-size: 16px;
  color: #171e1d;
}
.decision-tree,
.similar-stays-section,
.staycard1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.staycard1 {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e8ecf2;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  min-width: 325px;
  row-gap: 20px;
}
.decision-tree,
.similar-stays-section {
  align-self: stretch;
  gap: 20px;
}
.decision-tree {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  color: #00c29f;
}
.similar-stays-section {
  flex-direction: column;
  text-align: left;
  font-size: 24px;
  color: #171e1d;
  font-family: Archivo;
}
@media screen and (max-width: 450px) {
  .similar-stays {
    font-size: 19px;
  }
  .data-transformer {
    flex-wrap: wrap;
  }
  .frame-parent8 {
    flex: 1;
  }
  .staycard1 {
    flex-wrap: wrap;
  }
}
